*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html {
    background-color: #fff;
    color: rgba(232, 227, 227, 0.09);
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 15px;
    text-rendering: optimizeLegibility; 
    
}

/*-----------------------*/
/* Reusable Components */
/*-----------------------*/
.row {
    max-width: 1140px;
    margin: 0 auto;
}

/*-----------------------*/
/* Heading  */
/*-----------------------*/

h1{
    text-decoration: none;
    margin: 0;
    color: #8e8484;
    font-size: 600%;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
    transform: translate(3%,-50%)

}
h2{
    margin: 5;
    color: rgba(242, 242, 242, 0.14);
    font-size: 120%;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
    top: 50%;
    left:50%;
    transform: translate(2%, 1200%);
    
    
}
h3{
    margin: 5;
    color: #6f6969;
    font-size: 120%;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
    top: 50%;
    left:50%;
    transform: translate(20%, 20%);
    
    
}


h4{
    margin: 5;
    color: #1d0c0c;
    font-size: 120%;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
    top: 50%;
    left:50%;
    transform: translate(20%, 20%);
    
    
}
/* ----- PARAGRAPHS ----- */
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}
/*-----------------------*/
/* Buttons  */
/*-----------------------*/


.btn:link,
.btn:visited
{
    display: inline-block;
    padding: 10px 50px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 80px;
    transition: background-color 0.5s, border 0.2s, color 0.2s;
}
.btn-full:link,
.btn-full:visited{
    background-color: rgba(195, 178, 252, 0.61);
    color: #fff;
    margin-right: 20px;
}
.btn-ghost:link,
.btn-ghost:visited{
    border: 2px solid rgba(180, 213, 230, 0.97);
    color: #e3f3fa;
     margin-right: 30px;
    transform: translate(50%, -350%);
}

.btn:hover,
.btn:active {
        background-color: rgba(140, 177, 177, 0.97)
}

/*-----------------------*/
/* header  */
/*-----------------------*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(img/galaxy.jpg.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left:50%;
    transform: translate(-15%, -20%);
    
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
    
    
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 20px;
}

.main-nav li {
    display: inline-block;
    margin-left: 100px;
    
    
    
}


    
.main-nav li a:link,
.main-nav li a:visited {
    padding: 0px 0;
    color: #d8faea;
    text-decoration: none;
    font-size: 100%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
    

}

.main-nav li:hover,
.main-nav li:active{
    border-bottom: 5px solid  rgba(237, 235, 244, 0.02);
     background-color: rgba(222, 227, 227, 0.29)
}
